* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
:root {
    
}
*/
body {
    font-family: 'Roboto', Arial ;
    background: var(--main);
    line-height: 1;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    width: 100%;
}